php:
    date.timezone: Europe/Prague
    default_charset: UTF-8

parameters:
    database:
        driver: sqlite3
        file: %appDir%/models/users.s3db

nette:
    database:
        dsn: sqlite:%database.file%
    session:
        autoStart: smart
        save_path: %tempDir%/sessions
    debugger:
        maxDepth: 10
        maxLen: 500
        showLocation: true
    container:
        accessors: true

services:
    database:
        class: \DibiConnection(%database%)

doctrine:
    driver: pdo_sqlite
    path: %database.file%

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
