<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Grido - DataGrid for Nette Framework</title>
        <meta name="description" content="Grido - DataGrid for Nette Framework">
        <meta name="author" content="Petr Bugyík">
        <meta name="robots" content="{$robots}" n:ifset="$robots">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{$baseUri}/favicon.ico">
        <link rel="stylesheet" href="{$baseUri}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$baseUri}/css/datepicker.css">
        <link rel="stylesheet" href="{$baseUri}/css/gh-fork-ribbon.css">
        <!--[if IE]>
        <link rel="stylesheet" href="{$baseUri}/css/gh-fork-ribbon.ie.css{scache}">
        <![endif]-->
        <link rel="stylesheet" href="{$baseUri}/css/style.css{scache}">
        <link rel="stylesheet" href="{$baseUri}/css/grido.css{scache}">
    </head>
    <body>
        <div id="content">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand no-ajax" href="http://o5.github.io/grido-sandbox/">Grido</a>
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle no-ajax" data-toggle="dropdown">
                                Data source <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li n:class="$presenter->name == 'Dibi' ? 'active'">
                                    <a class="no-ajax" n:href="Dibi:">
                                        Dibi
                                    </a>
                                </li>
                                <li n:class="$presenter->name == 'NetteDatabase' ? 'active'">
                                    <a class="no-ajax" n:href="NetteDatabase:">
                                        Nette\Database
                                    </a>
                                </li>
                                <li n:class="$presenter->name == 'Array' ? 'active'">
                                    <a class="no-ajax" n:href="Array:">
                                        Array
                                    </a>
                                </li>
                                <li n:class="$presenter->name == 'Doctrine' ? 'active'">
                                    <a class="no-ajax" n:href="Doctrine:">
                                        Doctrine
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle no-ajax" data-toggle="dropdown">
                                Filter type <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li n:class="$presenter->parameter['filterRenderType'] == Grido\Components\Filters\Filter::RENDER_INNER ? 'active'">
                                    <a class="no-ajax" n:href="this filterRenderType => Grido\Components\Filters\Filter::RENDER_INNER">
                                        Inner
                                    </a>
                                </li>
                                <li n:class="$presenter->parameter['filterRenderType'] == Grido\Components\Filters\Filter::RENDER_OUTER ? 'active'">
                                    <a class="no-ajax" n:href="this filterRenderType => Grido\Components\Filters\Filter::RENDER_OUTER">
                                        Outer
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle no-ajax" data-toggle="dropdown">
                                Ajax state <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li n:class="$presenter->parameter['ajax'] == 'on' ? 'active'">
                                    <a class="no-ajax" n:href="this ajax => on">ON</a>
                                </li>
                                <li n:class="$presenter->parameter['ajax'] == 'ajax-off' ? 'active'">
                                    <a class="no-ajax" n:href="this ajax => ajax-off">OFF</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><span id="ajax-spinner" class="hide">&nbsp;</span></li>
                    </ul>
                </div>
            </div>

            <div n:if="$first" class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" onclick="$.get({link closeTip!});">×</button>
                <p>
                    Do you want to play with this example on your localhost? Install the sandbox via <a href="http://getcomposer.org/">Composer</a> with only one command: <code>composer create-project o5/grido-sandbox</code>.
                </p>
            </div>

            {snippet flash}
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} fade in">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>{$flash->message}</p>
                </div>
            {/snippet}

            {include #content}
            <div class="github-fork-ribbon-wrapper left">
                <div class="github-fork-ribbon">
                    <a class="no-ajax" href="https://github.com/o5/grido-sandbox/blob/master/app/presenters/{$presenter->name}Presenter.php">
                        Source on GitHub
                    </a>
                </div>
            </div>
        </div>

        <script src="{$baseUri}/js/jquery.min.js"></script>
        <script src="{$baseUri}/js/jquery.hashchange.min.js"></script>
        <script src="{$baseUri}/js/jquery.maskedinput.min.js"></script>
        <script src="{$baseUri}/js/bootstrap-dropdown.js"></script>
        <script src="{$baseUri}/js/bootstrap-alert.js"></script>
        <script src="{$baseUri}/js/bootstrap-typeahead.js{scache}"></script>
        <script src="{$baseUri}/js/bootstrap-datepicker.js"></script>
        <script src="{$baseUri}/js/netteForms.min.js"></script>
        <script src="{$baseUri}/js/jquery.nette.js"></script>
        <script src="{$baseUri}/js/jquery.ajaxform.js"></script>
        <script src="{$baseUri}/js/jquery.grido.js{scache}"></script>
        <script src="{$baseUri}/js/utils.js{scache}"></script>

        <script n:if="$presenter->parameter['ajax'] == 'on'" src="{$baseUri}/js/ajax.js"></script>
        <script n:if="$presenter->parameter['ajax'] == 'ajax-off'">$.grido.ajax = false;</script>
    </body>
</html>
