@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic&subset=latin,latin-ext);
* {
    margin: 0;
    padding: 0;
}
body {background: #FBFBFB url(../img/bg.jpg) 0 0 repeat}
.grido {font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif}
.grido input.date {background: url('../img/cal.jpg') #fff no-repeat right center}

#content {
    padding:20px 45px;
    margin: 0 auto;
}

.hide {display: none}

#ajax-spinner {
    background: url('../img/spinner.gif') no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
    float: right;
    margin: 15px 0 0 0;
}

.loading,
.loading * {
    cursor: wait !important;
}

/* TWITTER BOOTSTRAP RESET */

.alert {
    border-radius: 4px;
    border-spacing: 0;
    border: 1px solid #CACACA;
}
.alert-info {
    background: #DEEEFA url(../img/info.png) no-repeat 15px center;
    border: 1px solid #AFD3F2;
    color: #235685;
}
.alert-error {
    background: #FCCAC1 url(../img/error.png) no-repeat 15px center;
    border: 1px solid #E18B7C;
    color: #AC260F;
}
.alert-success {
    background: #DFF0D8 url(../img/success.png) no-repeat 15px center;
    border: 1px solid #C1D779;
    color: #3C5A01;
}

.alert p {
    font-size: 13px;
    padding: 1px 0px 1px 35px;
    margin: 0px;
    color: #565656;
}

.alert .close {top: 0}

.grido .grid-cell-country,
.grido .grid-cell-country_code {padding-left: 1%}

.navbar-brand {
    font-size: 20px;
    font-weight: 200;
}

.navbar .container {
    margin-left: 0;
    max-width: 100%;
}

th.checker input
{
    z-index: 2;
    position: relative;
}

.github-fork-ribbon-wrapper {
    z-index: 1;
}

.navbar-default .dropdown-menu {
    z-index: 0;
}

.navbar-default {
    z-index: 1;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.navbar-inner ul.nav {padding-left:10px}

select {text-align: center}
.filter textarea {padding: 0; margin: 0; height: 23px}

.grido .filter textarea {
    height: 23px!important;
}

.grido .buttons {
    z-index: 2;
    position: relative;
}